body{
    background-color: rgb(206, 227, 227);
}
table {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

a {
    text-decoration: none;
}

#img {
    border: 1px solid black;
    height:180px;
    width:150px;
    border-radius: 10px;
}

h2{
    color: #a42424;
}